@import url('./variables.css');
@import url('./fonts.css');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--line-color) var(--body-color);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

a:hover {
    color: var(--primary-color);
}

/* ========== TEXTOS ========== */
h1 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-h1);
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
    color: var(--title-color);
}

h1, h2, h3, h4 {
    font-family: var(--title-font);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 500;
    line-height: var(--line-height-h2);

}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 500;
    line-height: var(--line-height-h3);
}

p {
    font-size: var(--normal-font-size);
    line-height: var(--line-height-normal); 
    color: var(--text-color);
}

input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    padding: .5rem;
    border: none;
    border-bottom: 1px solid var(--line-color);
    border-radius: .3rem;
    outline: none;
    background-color: transparent;
    width: 100%;
    transition: .2s ease-in-out;
}

input::placeholder {
    color: var(--text-color-light);
}

input:focus {
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--container-color);
}

textarea {
    color: var(--text-color);
    padding: .5rem;
    border: none;
    border-bottom: 1px solid var(--line-color);
    border-radius: .3rem;
    outline: none;
    resize: none;
    background-color: transparent;
    width: 100%;
    height: 7rem;
    transition: background-color .2s ease-in-out;
}

textarea::placeholder {
    color: var(--text-color-light);
}

textarea:focus {
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--container-color);
}

.font-xl {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    font-weight: 500;
    line-height: var(--line-height-biggest);
}

.font-lg {
    font-size: var(--h3-font-size);
    line-height: var(--line-height-h3);
}

.font-sm {
    font-size: var(--small-font-size);
    line-height: var(--line-height-small);
}

.font-tiny {
    font-size: var(--tiny-font-size);
    line-height: var(--line-height-tiny);
}

.color-primary {
    color: var(--primary-color);
}

/* ==========  ========== */

/* ========== BUTTONS ========== */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color-btn);
    outline: none;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color-btn);
    outline: none;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--primary-color);
    font-size: var(--normal-font-size);
    text-decoration: none;
    transition: .2s ease-in-out;
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: var(--h3-font-size);
}

.btn:hover {
    background-color: var(--primary-color-hover);
    color: var(--text-color-btn);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-outline:hover {
    background-color: var(--primary-color);
    color: var(--text-color-btn);
}

/* Query cuando la pantalla mobile */
@media screen and (max-width: 768px) {
    
}