.header {
    height: calc(100vh - 8rem);
    display: flex;
    padding-bottom: 4rem;
    /* background-color: rgba(240, 248, 255, 0.045); */
}

.headermob__container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.header__img-section {
    /* background-color: rgba(31, 220, 220, 0.301); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.header__img-container {
    display: flex;
    width: 60%;
    border: 5px solid var(--primary-color);
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    max-width: 60%;
}

.header__img-img {
    border-radius: 100%;
    width: 100%;
    -webkit-mask-image: linear-gradient(to top, transparent, var(--body-color) 50%);
    mask-image: linear-gradient(to top, transparent, var(--body-color) 50%);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3));

}

.headerdesk__btnsocials-container {
    display: none;
}

.header__btnsocials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

}

.header__info-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* background-color: rgba(240, 248, 255, 0.089); */
}

.header__title-text {
    text-align: center;
}

.header__subtitle-text {
    font-size: var(--h3-font-size);
    font-weight: 300;
    line-height: var(--line-height-h2);
}

.header__introduction-text {
    font-weight: 100;
}

.header__container-btns {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.header__btns {
    width: 100%;
}

.header__btnsocials-line {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 50%;
    background-color: white;
    z-index: -10;
}

.socials__btns-link {
    background-color: var(--body-color);
    border: 2px solid white;
    border-radius: 50%;
    padding: .5rem;
    transition: .2s ease-in-out;
}

/* Query para cuando es tamaño tablet */
@media screen and (min-width : 640px) and (max-width: 1024px) {
    .header {
        display: flex;
        gap: 1rem;
    }
    
    .header__btnsocials-container {
        display: none;
    }

    .headerdesk__btnsocials-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 20%;
    }

    

    .socials__btns-link:hover {
        transform: scale(1.1);
    }
    
    .icons__socials {
        width: 2rem;
    }
}

/* Query para cuando es tamaño desktop */
@media screen and (min-width: 1024px) {
    .header {
        height: var(--vh);
        display: flex;
        gap: 1rem;
    }

    .headermob__container {
        flex-direction: row-reverse;
    }
    
    .header__img-section {
        width: 50%;
    }

    .header__info-section {
        width: 50%;
    }

    .header__btnsocials-container {
        display: none;
    }

    .headerdesk__btnsocials-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 10%;
    }

    .icons__socials {
        width: 2rem;
    }
}
