@import url('./global/globalStyles.css');
@import url('./navbar.css');
@import url('./header.css');
@import url('./sidebar.css');
@import url('./about.css');
@import url('./intereses.css');
@import url('./formacion.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./contacto.css');
/* 
@import url('./footer.css'); 
*/

.container__main {
    padding: 1rem;
    padding-bottom: 5rem;
    /* background-color: aqua; */
}

.container__title-section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__shadow {
    font-size: var(--font-title-shadow);
    font-weight: 800;
    color: hsla(var(--second-hue), 13%, 40%, .1);
    position: absolute;
    display: flex;
}

/* Query para cuando es tablet */
@media screen and (max-width: 768px) {
    
}

/* Query para cuando es desktop */
@media screen and (min-width: 1024px) {
    .container__main {
        padding: 0 4rem 3rem 5rem;
    }
}