@import url('./global/globalStyles.css');
@import url('./navbar.css');
@import url('./sidebar.css');
@import url('./header.css');
@import url('./about.css');
@import url('./intereses.css');
@import url('./formacion.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./contacto.css');
@import url('./footer.css');

.container__main {
    position: relative;
    padding: 0 2rem 0 3rem;
}

/* Query para cuando es mobile */
@media screen and (max-width: 768px) {
    .container__main {
        padding: 1rem;
    }
}