/* INTERESES SECTION */
.intereses__section {
    height: var(--vhmobile);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.intereses__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.intereses__body {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.intereses__card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 80%;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    background: linear-gradient(135deg, rgba(1, 6, 31, 0.40) 0.94%, rgba(25, 46, 141, 0.076) 95%);
    border: 1px solid var(--border-container-color);
    transition: all .2s ease-in-out;
}

.intereses__card:hover {
    transform: scale(1.1);
    background-color: var(--container-color);
    border-radius: .2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.intereses__icons {
    font-size: 3rem;
    color: var(--text-color);
}

/* Query para cuando la pantalla es mayor o igual a 768 y menor a 1024 */
@media screen and (max-width: 1024px) {
    .intereses__body {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .intereses__card {
        width: 50%;
        margin: auto;
    }
}