.navbar {
    display: none;
}

.navmob {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    bottom: 0.5rem;
    transition: top 0.3s;
    z-index: 1000;
    padding: 0 .5rem;
    box-sizing: border-box;
}

.navmob__container-btns {
    max-width: 640px;
    border-radius: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--container-color);
    border: 0.5px solid var(--border-container-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.navmob__container--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 0.5px solid var(--border-container-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    transition: transform 0.3s;
}

.navmob__container--logo:hover {
    transform: scale(1.1);
}

.navmob__logo-img {
    height: 2.5rem;
}

.navmob__container-btns-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navmob__container-btns-link:hover, .socials__btns-link:hover {
    transform: scale(1.1);
}

/* Query para cuando es tamaño desktop */
@media screen and (min-width: 1024px) {
    .navmob {
        display: none;
    }

    .navbar {
        display: block;
        height: 4rem;
        max-height: 4rem;
        padding: 1rem 4rem;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__menu-link {
        transition: .2s ease-in-out;
    }

    .navbar__menu-link:hover {
        color: var(--primary-color);
        transform: scale(1.1);
    
    }

    .navbar__logo-img {
        width: 80px;
        transition: .2s ease-in-out;
    }
    
    .navbar__logo-img:hover {
        transform: scale(1.1);
    }
}