.skills__section {
    /* background-color: rgba(240, 248, 255, 0.105); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    gap: 1rem;
}

.content__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.skills__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .3rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.skills__card:hover {
    transform: scale(1.1);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
}

.skills__card-icon {
    width: 2rem;
    color: var(--text-color);
}

.container__title-line {
    width: 50%;
    height: 1px;
    margin-top: .5rem;
    background-color: var(--line-color);
    display: flex;
}

.container__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Query  */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .content__cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

/* Query para cuando es desktop */
@media screen and (min-width: 1024px) {
    .content__cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .skills__card {
        border-radius: .5rem;
        background: linear-gradient(135deg, rgba(1, 6, 31, 0.40) 0.94%, rgba(25, 46, 141, 0.076) 95%);
        border: 1px solid var(--border-container-color);
    }

    
}